*{
	padding: 0px;
	margin: 0px;
}
#form{
	font-family: monospace;
	padding: 10px;
	margin: 10px;
	width: 100%;
	height: 100px;
	float: right;
	border-radius: 15px;
}
form{
	padding: 10px;
	margin-left: 700px;
}
table{
	font-family: monospace;
	border-radius: 15px;
	border: 1px solid black;
}
#background{
	background-color: lightblue;
}